#root {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20%;
  margin: 30vh 0 0;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.logo > #dev {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 5rem;
  line-height: 60px;
}

.logo > #dev::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
  left: 0;
  bottom: 0;
  transform: translate(-100%, -20%);
}

.logo > :not(#dev) {
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 0;
}

.classic-btn {
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  color: var(--primary-color);
  background: transparent;
  padding: 5px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.classic-btn:hover {
  color: var(--secondary-color);
  background:  var(--primary-color);
}

.classic-btn:active {
  opacity: 0.5;
}


#backupInput {
  display: none;
}

#backupLabel {
  margin-top: -10px;
  text-decoration: underline;
  color: var(--secondary-color);
  filter: brightness(2);
  transition: all 0.2s ease-in-out;
}

#backupLabel:hover {
  filter: none;
  color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
  #backupLabel {
    color: var(--primary-color);
    filter: brightness(3);
  }

  #backupLabel:hover {
  color: var(--primary-color);
    filter: none;
}
}
